@model VirtualWellnessProgram.Models.Customer
@{
    ViewBag.Title = "GetFoodInfo";
}
<h2>Calorie Counter</h2>
<table class="table">
    <tr>
        <td>
        <h4>Today's Current Calorie Count</h4>
        
            @Html.DisplayFor(m => m.CurrentCalorieCount)
        </td>
    </tr>
    <tr>
        <td>
        <h4>Your Calorie Goal</h4>
        
            @Html.DisplayFor(m => m.CalorieGoal)
        </td>
    </tr>
</table>


