@model VirtualWellnessProgram.Models.ViewModels.GroupPointsViewModel

@{
    ViewBag.Title = "LeaderBoard";
}

<h2>Leaderboard</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Group)
        </th>
        <th>
            Points
        </th>
    </tr>
    @foreach (var item in Model.Group)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPoints)
            </td>
        </tr>
    }

</table>

