
@{
    ViewBag.Title = "AddFoodExercise";
}

<h2>Add Food or Exercise</h2>

<h4>Click a link below to add food or exercise</h4>
<hr />

@Html.ActionLink("Add Food", "GetFoodItem", "Customers") |


@Html.ActionLink("Add Exercise","AddExercise", "Customers")

