@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Virtual Wellness Program</h1>
    <p class="lead">Where you can participate in an online wellness program to improve your health.</p>
    <img src="../../Content/images/VWP_logo.png" height="400" width="350"/></center>
</div>
   
