@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Virtual Wellness Program</h1>
    <p class="lead">Where you can participate in an online wellness program to improve your health.</p>
</div>
   
