@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <i><p class="lead">Where you can participate in an online wellness program to improve your health.</p></i>
        <img src="../../Content/images/VWP_logo.png" height="400" width="350"/>
        <p>&copy; @DateTime.Now.Year - Virtual Wellness Program</p>
    </center>
</div>

