@model System.Data.DataTable
@using System.Data;

@{
    ViewBag.Title = "Upload";
}

<h2>Upload CSV File</h2>
<h4>Make sure the file that you submit is in .csv format</h4>
<hr />
@using (Html.BeginForm("Upload", "Home", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div classs="form-group">
        <input type="file" id ="dataFile" name="upload"/>    
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Upload" class="btn btn-default"/>
    </div>
}

